body
{
	background-color: #FFFFFF;
	font: 12pt/10pt sans-serif;
}

h1 
{
	margin: 0px;
	padding-left: 10px;
	padding-top: 13px;
	height: 30px;
	color: #003366;
	background-color: #99CCFF;
}
h2
{
margin: 0px;
font: bold 14pt/12pt sans-serif;
background-color: #C8EDFF;
padding: 10px;
}
#left
{
	float:left;
}

#menu
{
	margin-left: 40px;
	width: 160px;
	background: white;
}
#header
{
margin-left: 200px;
height: 40px;
}
#content 
{
	padding:10px;
    margin-left: 200px;
    
    background: white;
}
.comment
{
font: 8pt/9pt sans-serif;
width: 400px;
padding-bottom:16px;
}
.input
{
width: 300px;
}
.parameter
{
font: bold 10pt sans-serif;
}
.btnsave
{
width: 100px; 
height: 30px; 
margin-bottom:16px;
}
.menu
{margin:0; padding:0; width:160px; list-style:none;background:rgb(255,255,255);}
.menu li{padding:0; margin:0 0 1px 0; height:40px; display:block; }
.menu li a{text-align:left;height:40px; padding:0px 25px; font:16px Verdana, Arial, Helvetica, sans-serif; color:rgb(255,255,255); display:block; background:url('verMenuImages.png') 0px 0px no-repeat; text-decoration:none;}
.menu li a:hover{background:url('verMenuImages.png') 0px -40px no-repeat; color:rgb(255,255,255);}
.menu li a.active, .menu li a.active:hover{background:url('verMenuImages.png') 0px -80px no-repeat; color:rgb(255,255,255);}
.menu li a span{line-height:40px;         }
