<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>OpenBTS - {{ pagename }}</title>
  <script src="/media/js/jquery.js" type="text/javascript"></script>
  <script type="text/javascript">
	function loadTabs(){
		var tabs = $('#tabs-titles li'); //grab tabs
		var contents = $('#tabs-contents div'); //grab contents
		tabs.bind('click',function(){
		contents.hide(); //hide all contents
		tabs.removeClass('current'); //remove 'current' classes
		$(contents[$(this).index()]).show(); //show tab content that matches tab title index
		$(this).addClass('current'); //add current class on clicked tab title
	});}
	</script>
	<link rel="stylesheet" type="text/css" href="/media/css/style.css" />
</head>
<body onload="loadTabs()">
	<div id='cssmenu'>
		<ul>
			<li {% if mastername == "OpenBTS" %}class="active"{% endif %}><a href='/openbts/main'><span>OpenBTS</span></a></li>
			<li {% if mastername == "Smqueue" %}class="active"{% endif %}><a href='/smqueue'><span>Smqueue</span></a></li>
			<li {% if mastername == "SubscriberRegistry" %}class="active"{% endif %}><a href='/subscriberregistry'><span>SubscriberRegistry</span></a></li>
			<li {% if mastername == "FreeSwitch" %}class="active"{% endif %}><a href='/freeswitch'><span>FreeSwitch</span></a></li>
		</ul>
	</div>
	<div id="submenu">
		<ul class="submenu">
			<li><a href="/openbts/wizard" {% if pagename == "Wizard" %}class="active"{% endif %}><span>Wizard</span></a></li>
			<li><a href="/openbts/main" {% if pagename == "Main" %}class="active"{% endif %}><span>Main</span></a></li>
			<li><a href="/openbts/actions" {% if pagename == "Actions" %}class="active"{% endif %}><span>Actions</span></a></li>
			<li><a href="/openbts/status" {% if pagename == "Status" %}class="active"{% endif %}><span>Live Status</span></a></li>
			<li><a href="/openbts/dialdata" {% if pagename == "Dial Data" %}class="active"{% endif %}><span>Dial Data</span></a></li>
			<li><a href="/openbts/advanced" {% if pagename == "Advanced" %}class="active"{% endif %}><span>Advanced</span></a></li>
		</ul>
	</div>
<div id="content">
{% if sectionlist %}
<ul id="tabs-titles">
{% for section in sectionlist %}
	<li {% if forloop.first %}class="current"{% endif %}>{{ section.name }}</li>
{% endfor %}
</ul>
<div id="tabs-contents">
	{% for section in sectionlist %}
		<div class="content">
		<form method="post" action="/openbts/advanced/">
			<table>
				{% for item in section.paramlist %}
					<tr>
					<td class="parameter">{{ item.keystring }}</td>
						<td>
							<input type="text" name="{{ item.keystring }}" value="{% if item.valuestring %}{{ item.valuestring }}{% else %}[NULL]{% endif %}" class="input"/>
						</td>
					</tr>
					<tr>
						<td class="comment">{{ item.comments }}</td>
					</tr>
				{% endfor %}
					<tr>
						<td><input type="submit" value="Save" class="btnsave"/></td>
					</tr>
			</table>
		</form>
		</div>
	{% endfor %}
</div>
{% endif %}
</div>
</body>
</html>
