<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Smqueue - {{ pagename }}</title>
  <script src="/media/js/jquery.js" type="text/javascript"></script>
  <script type="text/javascript">
	function loadTabs(){
		var tabs = $('#tabs-titles li'); //grab tabs
		var contents = $('#tabs-contents div'); //grab contents
		tabs.bind('click',function(){
		contents.hide(); //hide all contents
		tabs.removeClass('current'); //remove 'current' classes
		$(contents[$(this).index()]).show(); //show tab content that matches tab title index
		$(this).addClass('current'); //add current class on clicked tab title
	});}
	</script>
	<link rel="stylesheet" type="text/css" href="/media/css/style.css" />
</head>
<body onload="loadTabs()">
	<div id='cssmenu'>
		<ul>
			<li {% if mastername == "OpenBTS" %}class="active"{% endif %}><a href='/openbts/main'><span>OpenBTS</span></a></li>
			<li {% if mastername == "Smqueue" %}class="active"{% endif %}><a href='/smqueue/actions'><span>Smqueue</span></a></li>
			<li {% if mastername == "SubscriberRegistry" %}class="active"{% endif %}><a href='/subscriberregistry/actions'><span>SubscriberRegistry</span></a></li>
			<li {% if mastername == "FreeSwitch" %}class="active"{% endif %}><a href='/freeswitch'><span>FreeSwitch</span></a></li>
		</ul>
	</div>
	<div id="submenu">
		<ul class="submenu">
			<li><a href="/smqueue/actions" {% if pagename == "Actions" %}class="active"{% endif %}><span>Actions</span></a></li>
			<li><a href="/smqueue/main" {% if pagename == "Main" %}class="active"{% endif %}><span>Main</span></a></li>
			<li><a href="/smqueue/advanced" {% if pagename == "Advanced" %}class="active"{% endif %}><span>Advanced</span></a></li>
		</ul>
	</div>
<div id="content">
{% if error %}
	<div class="borderdiv">
		<h2>{{ error }}</h2>
	</div>
{% endif %}

{% if sectionlist %}
	<ul id="tabs-titles">
		{% for command in sectionlist %}
			<li {% if forloop.first %}class="current"{% endif %}>{{ command.name }}</li>
		{% endfor %}
	</ul>
	<div id="tabs-contents">
		{% for command in sectionlist %}
			<div class="content">
			<form method="post" action="/smqueue/actions/">
				{% if command.param1name %}
					<br/>
					{{ command.param1name }}
					<input type="text" name="{{ command.param1 }}" value=""/>
				{% endif%}
				{% if command.param2name %}
					<br/>
					{{ command.param2name }}
					<input type="text" name="{{ command.param2 }}" value=""/>
				{% endif%}
				{% if command.param3name %}
					<br/>
					{{ command.param3name }}
					<input type="text" name="{{ command.param3 }}" value=""/>
				{% endif%}
				<input type="hidden" name="command" value="{{ command.command }}"/>
				<br/>
				<input type="submit" value="{{ command.name }}"/>
			</form>
			</div>
		{% endfor %}
	</div>
{% endif %}
</div>
</body>
</html>
